# Tailwind 
node_modules/
**/wwwroot/css/output.css
temp/
**/results/*
**/benchmark_results/*
## .NET Core
bin/
obj/
out/
*.dll
*.so
*.dylib
*.exe

## Visual Studio files
*_i.c
*_p.c
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings

## Rider files
.idea/
*.sln.iml

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## Local History
.localhistory/

## Database files
*.mdf
*.ldf
*.ndf

## NuGet Packages
*.nupkg
*.nuget.props
*.nuget.targets
packages/
